<md-card ng-repeat="post in posts | orderBy: '-upvotes'">
    <md-card-title>
        <md-card-title-text>
            <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
            <span ng-hide="post.link" class="md-headline">{{post.title}}</span>
            <span ng-show="post.author">posted by <a>{{post.author}}</a> |</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>upvotes: {{post.upvotes}} - downvotes: {{post.downvotes}} </p>
        <a href="#/posts/{{post._id}}">Comments</a></span>
    </md-card-content>
    <md-card-actions layout="row" layout-align="begin center">
        <md-button ng-click="incrementUpvotes(post)" class="md-icon-button">&#9829;</md-button>
        <md-button ng-click="incrementDownvotes(post)" class="md-icon-button">&#9825;</md-button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">New post</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                <div ng-hide="isLoggedIn()">
                    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
                </div>
                <form ng-show="isLoggedIn()" data-ng-submit="addPost()">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Title</label>
                            <input ng-model="title">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Link</label>
                            <input ng-model="link">
                        </md-input-container>
                    </div>
                    <md-button class="button" ng-click="addPost()">Post</md-button>
                </form>
            </md-content>
        </div>
    </md-card-content>
</md-card>
