<div class="page-header">
    <h3><a ng-show="post.link" href="{{post.link}}">{{post.title}}</a><span ng-hide="post.link">{{post.title}}</span></h3>
</div>
<md-card ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <md-card-title>
        <md-card-title-text>
            <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>by {{comment.author}}
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="begin center">
        <md-button ng-click="incrementUpvotes(comment)" class="md-icon-button">&#9829;</md-button>{{comment.upvotes}}
        <md-button ng-click="incrementDownvotes(comment)" class="md-icon-button">&#9825;</md-button>{{comment.downvotes}}
    </md-card-actions>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">New comment</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                <div ng-hide="isLoggedIn()">
                    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
                </div>
                <form ng-submit="addComment()">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Comment</label>
                            <input ng-model="body">
                        </md-input-container>
                    </div>
                    <md-button class="button" ng-click="addComment()">Post</md-button>
                </form>
            </md-content>
        </div>
    </md-card-content>
</md-card>
