<h1>Flapper News</h1>
</div>
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>
<form ng-submit="register()" style="margin-top:30px;">
    <h3>Register</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
